@tailwind base;
@tailwind components;
@tailwind utilities;

/* Osnovni reset */
html,
body {
	overflow-x: hidden;
	touch-action: auto; /* ili pan-y ako hoćeš samo vertikalni scroll */
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: contain;
	scroll-behavior: smooth;
}

/* Kad se otvori mobilni meni */
body.noscroll {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

/* Animacija za ulaz elemenata */
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeInUp {
	animation: fadeInUp 1s ease-out forwards;
}

/* Delay klase za animaciju */
.animation-delay-0 {
	animation-delay: 0s;
}
.animation-delay-200 {
	animation-delay: 0.2s;
}
.animation-delay-400 {
	animation-delay: 0.4s;
}
.animation-delay-600 {
	animation-delay: 0.6s;
}

/* Marquee traka */
.marquee-track {
	display: flex;
	width: max-content;
	animation: scroll-left 20s linear infinite;
}

.marquee-text {
	white-space: nowrap;
	font-size: 0.875rem; /* Tailwind ekvivalent: text-sm */
	color: white;
	padding-right: 2rem;
}

/* Animacija skrolovanja teksta levo */
@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
