@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET za html i body */
html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	height: auto;
	min-height: 100%;
	touch-action: pan-y;
	overscroll-behavior: none;
	position: static;
	-webkit-overflow-scrolling: touch;
	background-color: black;
}

/* Kada je mobilni meni otvoren */

/* ANIMACIJA za fade-in */
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeInUp {
	animation: fadeInUp 1s ease-out forwards;
}

/* Delay klase */
.animation-delay-0 {
	animation-delay: 0s;
}
.animation-delay-200 {
	animation-delay: 0.2s;
}
.animation-delay-400 {
	animation-delay: 0.4s;
}
.animation-delay-600 {
	animation-delay: 0.6s;
}

/* MARQUEE sekcija */
.marquee-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.marquee-content {
	display: flex;
	width: fit-content;
	animation: marquee-linear 20s linear infinite;
}

.marquee-text {
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 2rem;
	font-size: 0.875rem; /* Tailwind ekvivalent text-sm */
	color: white;
	padding-right: 2rem;
}

/* Animacija neprekidnog klizanja */
@keyframes marquee-linear {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
